<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="../images/digitalmap.png"/>﻿
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
  <link rel="stylesheet" href="../css/style.css">
    <title></title>
  </head>
  <body>
    <input type="text" name="" placeholder="Buscar">
    <button type="button" name="button"><i class="fas fa-search"></i></button>


<div id="map"></div>

<div class="card-columns"></div>


<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCqnpX5zdFnInAPFkcSxww_ALkdEXMO2Uc&callback=initMap"
type="text/javascript"></script>


    <script type="text/javascript" src="../js/food.js"></script>

  </body>
</html>
