body {
  padding: 5% 0;
  font-family: 'Megrim', cursive;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 10px;
  font-size: 40px;
  background-color:#1F1F1F;
  }
h2{
  color: white;

}
